* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {

  background-color: white;
  color: #CC212A;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  font-weight: bold;
}

.main h1 {
  text-transform: uppercase;
}

.main h2 {
  text-transform: capitalize;
}



.footer {
  position: fixed;
  bottom: 10%;
  z-index: 1;
  width: 100%;
}

.footer__div--line {
  border-top: 2px solid #CC212A;
}

.footer__div {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__div--date {
  position: relative;
  top: 40px;
  font-size: small;
}

.footer__div--button {
  background-color: #CC212A;
  color: white;
  padding: 13px 15px;
  border-radius: 100%;
  position: fixed;
  bottom: 9.5%;
  z-index: 1;
}


@media (min-width: 360px) {

  .footer {
    position: fixed;
    bottom: 0%;
    z-index: 1;
    width: 100%;
  }

  .footer__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 10px;
  }

  .footer__div--date {
    position: relative;
    top: 0px;
    font-size: small;
  }

  .footer__div--button {
    padding: 9px 11px;
    font-size: 13px;
    background-color: #CC212A;
    color: white;
    padding: 9px 11px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
  }
}